<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Скрипка и немножко нервно</string>
		<key>text</key>
		<string>Скрипка издергалась, упрашивая,
и вдруг разревелась
так по-детски,
что барабан не выдержал:
&quot;Хорошо, хорошо, хорошо!&quot;
А сам устал,
не дослушал скрипкиной речи,
шмыгнул на горящий Кузнецкий
и ушел.
Оркестр чужо смотрел, как
выплакивалась скрипка
без слов,
без такта,
и только где-то
глупая тарелка
вылязгивала:
&quot;Что это?&quot;
&quot;Как это?&quot;
А когда геликон -
меднорожий,
потный,
крикнул:
&quot;Дура,
плакса,
вытри!&quot; -
я встал,
шатаясь, полез через ноты,
сгибающиеся под ужасом пюпитры,
зачем-то крикнул:
&quot;Боже!&quot;,
бросился на деревянную шею:
&quot;Знаете что, скрипка?
Мы ужасно похожи:
я вот тоже
ору -
а доказать ничего не умею!&quot;
Музыканты смеются:
&quot;Влип как!
Пришел к деревянной невесте!
Голова!&quot;
А мне - наплевать!
Я - хороший.
&quot;Знаете что, скрипка?
Давайте -
будем жить вместе!
А?&quot;</string>
		<key>year</key>
		<string>1914</string>
		<key>addInfo</key>
		<string>пока нет</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Себе, любимому</string>
		<key>text</key>
		<string>Четыре.
Тяжелые, как удар.
&quot;Кесарево кесарю - богу богово&quot;.
А такому,
как я,
ткнуться куда?
Где мне уготовано логово?

Если бы я был
маленький,
как океан,-
на цыпочки волн встал,
приливом ласкался к луне бы.
Где любимую найти мне,
Такую, как и я?
Такая не уместилась бы в крохотное небо!

О, если б я нищ был!
Как миллиардер!
Что деньги душе?
Ненасытный вор в ней.
Моих желаний разнузданной орде
не хватит золота всех Калифорний.

Если б быть мне косноязычным,
как Дант
или Петрарка!
Душу к одной зажечь!
Стихами велеть истлеть ей!
И слова
и любовь моя -
триумфальная арка:
пышно,
бесследно пройдут сквозь нее
любовницы всех столетий.

О, если б был я
тихий,
как гром,-
ныл бы,
дрожью объял бы земли одряхлевший скит.
Я если всей его мощью
выреву голос огромный,-
кометы заломят горящие руки,
бросаясь вниз с тоски.

Я бы глаз лучами грыз ночи -
о, если б был я
тусклый, как солце!
Очень мне надо
сияньем моим поить
земли отощавшее лонце!

Пройду,
любовищу мою волоча.
В какой ночи
бредовой,
недужной
какими Голиафами я зачат -
такой большой
и такой ненужный?</string>
		<key>year</key>
		<string>19какой-то</string>
		<key>addInfo</key>
		<string>пока нет</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Вам!</string>
		<key>text</key>
		<string>Вам, проживающим за оргией оргию,
имеющим ванную и теплый клозет!
Как вам не стыдно о представленных к Георгию
вычитывать из столбцов газет?

Знаете ли вы, бездарные, многие,
думающие нажраться лучше как,-
может быть, сейчас бомбой ноги
выдрало у Петрова поручика?..

Если он приведенный на убой,
вдруг увидел, израненный,
как вы измазанной в котлете губой
похотливо напеваете Северянина!

Вам ли, любящим баб да блюда,
жизнь отдавать в угоду?!
Я лучше в баре блядям буду
подавать ананасную воду!</string>
		<key>year</key>
		<string>19какой-то</string>
		<key>addInfo</key>
		<string>пока нет</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Гимн взятке</string>
		<key>text</key>
		<string>Пришли и славословим покорненько
тебя, дорогая взятка,
все здесь, от младшего дворника
до того, кто в золото заткан.

Всех, кто за нашей десницей
посмеет с укором глаза весть,
мы так, как им и не снится,
накажем мерзавцев за зависть.

Чтоб больше не смела вздыматься хула,
наденем мундиры и медали
и, выдвинув вперед убедительный кулак,
спросим: «А это видали?»

Если сверху смотреть – разинешь рот.
И взыграет от радости каждая мышца.
Россия – сверху – прямо огород,
вся наливается, цветет и пышится.

А разве видано где-нибудь, чтоб стояла коза
и лезть в огород козе лень?..
Было бы время, я б доказал,
которые – коза и зелень.

И нечего доказывать – идите и берите.
Умолкнет газетная нечисть ведь.
Как баранов, надо стричь и брить их.
Чего стесняться в своем отечестве?</string>
		<key>year</key>
		<string>19какой-то</string>
		<key>addInfo</key>
		<string>пока нет</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Казань</string>
		<key>text</key>
		<string>Стара,
     коса
стоит
    Казань.
Шумит
    бурун:
&quot;Шурум...
        бурум...&quot;
По-родному
        тараторя,
снегом
     лужи
        намарав,
у подворья
       в коридоре
люди
   смотрят номера.
Кашляя
    в рукава,
входит
     робковат,
глаза таращит.
Приветствую товарища.

Я
 в языках
     не очень натаскан -
что норвежским,
          что шведским мажь.
Входит татарин:
            &quot;Я
              на татарском
вам
  прочитаю
        &quot;Левый марш&quot;.
Входит второй.
         Косой в скуле.
И говорит,
      в карманах порыскав:
&quot;Я -
  мариец.
Твой
   &quot;Левый&quot;
дай
  тебе
    прочту по-марийски&quot;.
Эти вышли.
        Шедших этих
в низкой
    двери
       встретил третий.
&quot;Марш
   ваш -
наш марш.
Я -
   чуваш,
послушай,
       уважь.
Марш
    вашинский
так по-чувашски...&quot;

Как будто
        годы
           взял за чуб я -
- Станьте
     и не пылите-ка!-
рукою
   своею собственной
                 щупаю
бестелое слово
        &quot;политика&quot;.
Народы,
   жившие,
      въямясь в нужду,
притершись
       Уралу ко льду,
ворвались в дверь,
                идя
                 на штурм,
на камень,
     на крепость культур.
Крива,
   коса
стоит
  Казань.
Шумит
   бурун:
&quot;Шурум...
     бурум...&quot;</string>
		<key>year</key>
		<string>190000</string>
		<key>addInfo</key>
		<string>000</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Не те бляди, что хлеба ради</string>
		<key>text</key>
		<string> Не те бляди,
что хлеба ради
спереди и сзади
дают нам ебсти,
Бог их прости!
А те бляди — лгущие, деньги сосущие,
ебать не дающие —
вот бляди сущие,
мать их ети!</string>
		<key>year</key>
		<string>190011</string>
		<key>addInfo</key>
		<string>ноу</string>
	</dict>
</array>
</plist>
